/* main stuff */
.MainNavLayout{
    display: inline;
}
.gridLayout{
    display: grid;
    grid-template-columns: 12% 76% 12%;
}

.Centerpage{
    width: auto;
    margin-bottom: 20%;
}
.Leftpage{
    text-align: center;
    background-color: black;
}
.Rightpage{
    text-align: center;
    background-color: black;
}
footer{
text-align: center;
border-top: solid black 5px;
margin-top: auto;
}

/* misc */
.miscLinkLayout{
    text-align: left;
    width: 50%;
    margin-left: 25%;

}
